@font-face {
    font-family: title;
    src: url(../fonts/Comfortaa-Regular.ttf);
}
@font-face {
    font-family: txt;
    src: url(../fonts/PTSans-Regular.ttf);
}
body{
    background-color: rgb(243, 243, 243);
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-image: url("../img/bannerbg/banner_bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat:  no-repeat;
}
.banner::after{
    content: '';
    width: 100%;
    height: 90vh;
    position: absolute;
    background-color: black;
    opacity: 0.55;
    z-index: 2;
}
.banner-txt{
    z-index: 3;
    color: white;
    text-shadow: 3px 3px 0 rgb(138, 138, 138),
    5px 5px 0 rgb(138, 138, 138);
    margin-top: calc(45vh - 120px);
    font-family: title;
    font-size: 58px;
}
.menu{
    z-index: 3;
    display: flex;
    width: 95%;
    flex-flow: row nowrap;
    margin: 20px auto;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.menu-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
    width: 85%;
}
.link{
    z-index: 3;
    font-size: 14px;
    text-align: center;
}
.link:hover a{
    background-color: white;
    color: black;
}
.link a{
    transition: background-color 0.15s linear;
    border-radius: 8px;
    padding: 10px 20px;
    font-family: title;
    color: white;
    text-decoration: none;
}
.logo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-image: url("../img/logo/logo.png");
    background-size: 100px 100px;
}
.menu-links .link:not(.menu-links .link:first-child){
    margin-left: 15px;
}
@media(max-width: 950px) {
    .logo{
        display: none;
    }
    .menu-links{
        min-height: 100px;
        margin: auto;
        width: 90%;
        justify-content: space-between;
    }
    .menu-links .link{
        font-size: 11px;
    }
    .banner-txt{
        font-size: 42px;
    }
}
@media(max-width: 768px){
    .banner-txt{
        font-size: 36px;
    }
    .menu-links{
        width: 100%;
        flex-flow: row wrap;
        height: 10vh;
        justify-content: center;
    }
    .menu-links .link{
        font-size: 14px;
    }
} 
@media(max-width: 520px){
    .banner-txt{
        font-size: 22px;
    }
    .menu-links{
        width: 100%;
        flex-flow: row wrap;
        height: 10vh;
        justify-content: center;
    }
    .menu-links .link{
        font-size: 10px;
    }
} 

.about{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row nowrap;
    min-height: 60vh;
    margin-bottom: 20px;
}
.title{
    font-family: title;
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
    z-index: 3;
}
.subtitle{
    font-family: title;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    z-index: 3;
}
.txt{
    font-family: txt;
    font-size: 16px;
    text-align: justify;
    width: 75%;
    z-index: 3;
}
.about-text{
    width: 50%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.about-img .img{
    width: 100%;
    min-height: 60vh;
    background-image: url("../img/about/cameraman2.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
    position: relative;
}
.about-img{
    width: 50%;
    min-height: 60vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
}

.styles{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url("../img/styles/bg_styles.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color:  white;
    min-height: 75vh;
    justify-content: space-around;
    width: 100%;
}
.styles::after{
    position: absolute;
    content: '';
    min-height: 75vh;
    background-color: black;
    width: 100%;
    opacity: 0.55;
    z-index: 2;
}
.styles-photo{
    z-index: 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 85%;
}

.styles .style-wrap{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 29%;
    justify-content: space-around;
}
.styles .style-wrap .img{
    margin-bottom: 40px;
    width: 150px;
    height: 150px;
    background-image: url("../img/styles/portret.jpg");
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 30px 15px white;
    border-radius: 50%;
}
.style-wrap:nth-child(2) .img{
    background-image: url("../img/styles/naturemort.jpg");
}
.style-wrap:nth-child(3) .img{
    background-image: url("../img/styles/peizazh.jpg");
}
.styles .link{
    position: absolute;
    align-self: flex-end;
    top: 20px;
    right: 10px;
}
.styles .link a{
    border: 2px solid white;
}
@media(max-width: 768px){
    .style-wrap .img{
        width: 90px;
        height: 90px;
    }
}
section{
    position: relative;
}

.photographs{
    display: flex;
    flex-flow: column nowrap;
    min-height: 220vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.photograph-wrap .photo-img{
    order: 1;
}
.photograph-wrap:nth-child(odd) .photo-img{
    order: -2;
}
.photo-img .img{
    width: 100%;
    min-height: 65vh;
    background: url("../img/photographs/rich2.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.photograph-wrap:nth-child(3) .photo-img .img{
    background-image: url("../img/photographs/antr.png");
}
.photograph-wrap:nth-child(4) .photo-img .img{
    background-image: url("../img/photographs/sebas.png");
}
.photo-img{
    width: 50%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.photo-text{
    order: -1;
    width: 50%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.photograph-wrap{
    display: flex;
    flex-flow: row nowrap;
    width: 90%;
    min-height: 50vh;
}
.photographs .link{
    position: absolute;
    top: 20px;
    right: 10px;
}
.link-black:hover a{
    background-color: black;
    color: white;
}
.link-black a{
    color: black;
    border: 2px solid black;
}

.best-models{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 75vh;
    background-image: url("../img/models/models_bg.jpg");
    background-position: center center;
    background-size: cover;
    color: white;
}
.best-models::after{
    content: '';
    position: absolute;
    width: 100%;
    min-height: 75vh;
    background-color: black;
    opacity: 0.55;
    z-index: 2;
}
.best-content{
    z-index: 3;
    width: 85%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.best-wrap{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 27%;
}
.best-wrap:nth-child(2){
    position: absolute;
    right: 0;
    top: 40%;
    left: 0;
    margin: auto;
}
.best-wrap:nth-child(1) .img{
    background-image: url("../img/models/nikon.jpg");
}
.best-wrap::after{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 90%;
    height: 10px;
    background-color: white;
    box-shadow: 0 0 5px 1px white;
}
.best-wrap .img{
    border-radius: 20px;
    width: 150px;
    height: 100px;
    background-image: url("../img/models/canon.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150px 100px;
    margin-bottom: 25px;
}
.best-wrap:nth-child(3) .img{
    background-image: url("../img/models/sony.jpeg");
}
.best-models .link{
    position: absolute;
    top: 20px;
    right: 10px;
}
.best-models .link a{
    border: 2px solid white;
}
nav .link a{
    border: none;
}
@media(max-width: 768px){
    .best-wrap .img{
        width: 125px;
        height: 75px;
        background-size: 125px 75px;
    }
}

.stylepage{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 450vh;
}
.stylepage::after{
    content: '';
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(129, 157, 180);
    box-shadow: 0 0 0px 12px rgba(129, 157, 180, 0.66),
    0 0 0px 24px rgba(129, 157, 180, 0.22);
    top: 60px;
}
.stylepage::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 420vh;
    background-color: rgb(129, 157, 180);
    box-shadow: 0 0 3px 7px rgb(129, 157, 180, 0.5);
    z-index: -1;
    top: 80px;
}
.stylepage-content{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 400vh;
}
.stylepage-content .style-wrap{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 65vh;
    background-color: rgb(243, 243, 243);
}
.stylepage-content .style-wrap .img{
    width: 80%;
    min-height: 50vh;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/styles/stylepage_portret.jpg");
}
.stylepage-content .style-wrap:nth-child(2) .img{
    background-image: url("../img/styles/stylepage_peizazh.jpg");
}
.stylepage-content .style-wrap:nth-child(3) .img{
    background-image: url("../img/styles/stylepage_naturemort.jpg");
}
.stylepage-content .style-wrap:nth-child(4) .img{
    background-image: url("../img/styles/stylepage_macro.jpg");
}
.stylepage-content .style-wrap:nth-child(5) .img{
    background-image: url("../img/styles/stylepage_photohunt.jpg");
}